

<!DOCTYPE html>
{%include "menubar.html" %}
<html>
    <head>
        <title>{{ title }} - my blog</title>
    </head>
    <body>
        <li>THIS IS THE EMAILS PAGE</li>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}   
        <p> {{ form.email.label }}<br>
        {{ form.email }}</p>
        <p>{{ form.subject.label }}<br>
        {{ form.subject }}</p>
        <p>{{ form.message.label }}<br>
        {{ form.message }}</p>
        <p>{{ form.submit }}</p>
    </form>
        {% block menubar%}
        {% endblock %}
    </body>
</html>