{% block navbar %}
    <button onclick="window.location.href='/home'">Home</button>
    <button onclick="window.location.href='/todo'">Todo</button>
    <button onclick="window.location.href='/emails'">Emails</button>
    <button onclick="window.location.href='/contacts'">Contact Us</button>
    <button onclick="window.location.href='/profile'">Profile</button>
    <button onclick="window.location.href='/unregister'">Delete an account</button>
    <button onclick="window.location.href='/'">Log out</button>

    

{% endblock %}