<!DOCTYPE html>
{%include "menubar.html" %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style>
        body {
            margin-top: 10px;
            margin-left: 10px;
        }
        .form {
            margin-top: 10px;
        }
    </style>
<head>

<body>
<h3>Edit User Profile</h3>
{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
{% endfor %}


<form class="form" action="" method="POST" novalidate>
    {{form.hidden_tag()}}

    <p> {{form.username.label}} <br>
    {{form.username(size=35)}}</p>

    <p> {{form.password.label}} <br>
        {{form.password(size=35)}}</p>
    

    <p>{{form.submit(class="btn btn-primary btn-sm")}}</p>
</form>
</body>

