<!DOCTYPE html>
{%include "menubar.html" %}
<html>
    <head>
        <title>{{ title }} - my blog</title>
    </head>
    <body>
        <h1>Profile</h1>
        <p> User: {{ user.username }}<br>
            <button onclick="window.location.href='editprofile'">Edit profile</button> 
            </p>

        {% block menubar%}
        {% endblock %}
    </body>
</html>

<!DOCTYPE html>
{%include "menubar.html" %}
<html>
    {% block content %}
    <h1>Edit Profile</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
</html>

