<!-- todo.html -->

<!DOCTYPE html>
{% include "menubar.html" %}
<html>
    <head>
        <title>Todo - my blog</title>
    </head>
    <body>
        <h1>Todo List</h1>
        
        <!-- Todo Form -->
        <form action="{{ url_for('todo') }}" method="POST">
            <input type="text" name="todo" placeholder="Enter a new task">
            <input type="submit" value="Add Todo">
        </form>
        
        <!-- Display Todos -->
        <ul>
            {% for todo in todos %}
            <li>{{ todo.task }} <a href="{{ url_for('delete_task', task=todo.task) }}">Delete</a></li>
            {% endfor %}
        </ul>
    </body>
</html>
